.order-card{
    margin-left: 28%;
    margin-top: 50px;
}

.order-image img{
    width: 200px;
}

.order-description{
    align-items: center;
    font-weight: 500;
    padding-top: 70px;
    padding-left: 60px;
}