.product-add{
    margin-left: 470px;
    margin-top: 15px;
    border-radius: 10px;
    width: 450px;
    padding: 50px;
    color:gray;
    box-shadow: 2px 2px 10px gray;
}

h4{
    margin-left: 618px;
    margin-top: 80px;
}